/* Raleway */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

/* Rubik */
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

html {
  height: 100%;
}

body {
    margin:0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #fff;
    font-weight: 400;
    color: #444;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000;
}

.button {
  position: relative;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  letter-spacing: 0.2em;
  padding: 10px 5px;
  z-index: 1;
}

.button::before {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 8px;
  width: 100%;
  background-color: #FFE17F;
  z-index: -1;
}

.main-container {
  flex-grow: 1;
}

.main-inner {
  flex-grow: 1;
}

.block-content-container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.container-header {
  width: 1160px;
  height: 300px;
  margin: 0 auto;
  background-color: #FFE17F;
  padding: 0 60px;
  margin-top: 40px;
}

.logo {
  display: block;
  margin-bottom: 10px;
}

.logo-image {
  transform:translateY(-20px);
}

.navigation-list.level-1 {
  margin-bottom: 30px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.level-1 .navigation-item:nth-child(1) {
  width: 517px;
}

.level-1 .navigation-item:nth-child(2) {
  width: 231px;
  margin-left: 26px;
}

.level-1 .navigation-item:nth-child(3) {
  width: 105px;
  margin-left: auto;
}

.level-1 .navigation-item:last-child {
  width: 99px;
  margin-left: 36px;
}

.container-navigation-level-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-right-column {
  width: 293px;
}

.container-navigation-level-2 .navigation-list {
  width: 471px;
  display: flex;
  flex-wrap: wrap;
}

.container-navigation-level-2 .navigation-item {
  width: 125px;
  margin-right: 45px;
}

.container-navigation-level-2 .navigation-item:nth-child(3n){
  margin-right: 0;
}

.page-header {
    color: #000;
}

.level-2 .navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.navigation-button-toggle.navigation-link {
  display: flex;
  align-items: center;
}

.navigation-link {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.accordion-title {
  display: block;
  width: 236px;
  margin-right: 6px;
  font-family: "Raleway", sans-serif;
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.count-cart {
  line-height: 17px;
  text-align: center;
  font-size: 14px;
}

/* device */

.number-device {
  font-weight: 700;
  font-size: 180px;
  color: #fff;
}

.about-device h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 29px;
}

.device-description {
  margin-top: 0;
  margin-bottom: 50px;
}

.device-detail-button {
  margin-bottom: 50px;
  width: 210px;
}

.device-detail {
  display: flex;
  flex-wrap: wrap;
}

.device-detail-item {
    width: 150px;
    font-size: 16px;
    margin-right: 20px;
}

.device-detail-item p {
  margin: 0;
}

.device-detail-item span {
    font-size: 36px;
    color: #000;
}

.device .index-columns {
  display: flex;
  justify-content: space-between;
}

.gallery {
  width: 560px;
}

.about-device {
  width:560px;
}

.slider-pagination {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin-right: 20px;
}

/* device-pic */

.device-pic {
  padding: 70px 0 172px 0;
}

.device-pic-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container-image {
  background-color: #FFE17F;
  margin-bottom: 32px;
}

.device-pic-item {
  width: 160px;
}

.device-pic-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  margin: 0;
}

/* additional-services */

.additional-services {
  background-color: #F0F0F0;
  padding-bottom: 72px;
}

.service-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 34px;
}

.service-description {
  margin: 0;
}

.additional-services-block-button-item:not(:last-child) {
  margin-bottom: 35px;
}

.additional-services-button.button-choose {
  position: relative;
  color: #FFE17F;
  background-color: #000;
  z-index: 1;
}

.additional-services-button.button-choose::before {
  content:'';
  position: absolute;
  display: block;
  background-color: #000;
  transform: translateY(0);
  width: 287px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.additional-services-button {
  width: 152px;
}

.additional-services .index-columns {
  display: flex;
  align-items: center;
}

.additional-services-block-button {
  width: 287px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-block-description {
  width: 452px;
  margin-left: 116px;
}

/* delivery */

.delivery {
  padding: 70px 0;
}

.plash-block {
    background-color: #F0F0F0;
    display: flex;
    height: 100px;
    align-items: center;
}

.plash-block .left-column {
  width: 910px;
  margin-left: 125px;
}

.plash-block p {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

.delivery-info {
  display: block;
  padding: 30px 42px;
}

.delivery-info-icon {
  display: block;
}

/* about-company */

.about-company {
  padding-bottom: 70px;
}

.about-company p {
  margin: 0;
  margin-bottom: 30px;
}

.index-columns-about {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 530px;
}

.contacts {
  width: 530px;
}

.about-us-title,
.contacts-title {
  margin-top: 40px;
  margin-bottom: 48px;
}

.contacts-subtitle {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 15px;
}

.company::marker {
  color: #FFC700;
}

.transport-companies {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  padding-left: 20px;
}

.transport-companies li {
    font-weight: 700;
    line-height: 20px;
    color: #000;
    margin-bottom: 19px;
}

.contacts-phone {
    color: #444;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;
}

p.contacts-address-text {
  margin-bottom: 0;
}

.contacts-address {
  margin-bottom: 30px;
}

.about-us-button {
  width: 258px;
}

.contacts-button {
  width: 248px;
}

/* subscribe */

.subscribe {
  background-color: #F0F0F0;
  padding-top: 64px;
  padding-bottom: 56px;
}

.subscribe-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000;
  margin: 0;
}

.subscribe-description {
  margin: 0;
}

.container-subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-subscribe.level-1 {
  margin-bottom: 144px;
}

.container-subscribe-title {
  width: 350px;
}

.container-subscribe-description {
  width: 560px;
}

.newsletter-form {
  width: 810px;
}

.free {
  width: 160px;
  text-align: right;
}

/* footer */

.page-footer {
  background-color: #444;
  color: #fff;
  padding: 62px 0;
}

.footer-logo {
  margin-bottom: 35px;

}

.page-footer .index-columns {
  display: flex;
  justify-content: space-between;
}

.footer-contacts-address-text {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  margin: 0;
}

.footer-links-item {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.phone {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.footer-contacts {
  width: 240px;
}

.footer-links {
  width: 460px;
  display: flex;
  flex-direction: column;
}

.footer-phone {
  width: 175px;
}

.page-footer ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-links li {
  text-align: center;
}

.footer-links-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

.footer-phone-item:nth-child(1){
  margin-bottom: 62px;
}

.footer-logo-developer {
  display: block;
  margin-left: auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.footer-social-item {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.footer-social-item:not(:nth-child(1)) {
  margin-left: 15px;
}

.footer-navigation-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* catalog */

.container-header-inner {
  width: 1160px;
  height: 186px;
  margin: 0 auto;
  background-color: #FFE17F;
  padding: 0 60px 20px 60px;
  margin-top: 40px;
}

.catalog-products {
  background-color: #F0F0F0;
}

.inner-header {
  padding: 35px 0;
}

.catalog-products .block-content-container {
  display: flex;
}

.catalog-filter {
  width: 320px;
}

.catalog-filter ul {
  margin: 0;
  padding: 0;
}

.catalog-right-column {
  width: 840px;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  color: #000;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  margin-right: 36px;
}

.title-filter,
.title-sorting {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0;
}

.title-filter {
  margin-top: 25px;
  margin-bottom: 60px;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  color: #000;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.control {
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.sorting-container {
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

.select-control {
  margin-left: 206px;
}

.button.up {
  width: 30px;
  height: 30px;
  margin-left: auto;
}

.button.down {
  width: 30px;
  height: 30px;
}

.product-container {
  background-color: #fff;
  padding: 70px 40px 78px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2,360px);
  column-gap: 40px;
  row-gap: 44px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-card-link {
  text-decoration: none;
}

.product-description-container {
  display: flex;
  justify-content: space-between;
}

.product-card-image {
  margin-bottom: 32px;
  object-fit: contain;
}

.product-card-title {
  display: block;
  width: 250px;
  font-weight: 700;
  line-height: 20px;
  color:#000;
  margin: 0;
}

.product-card-price {
  display: block;
  font-weight: 400;
  line-height: 21px;
  color: #444;
}

.button.product-card-more {
  border: 3px solid #E5E5E5;
  background-color: #fff;
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 18px;
  margin: 44px 0;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EBEBEB;

}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-prev,
.pagination-next {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444;
  opacity: .3;
  text-decoration: none;
  padding: 10px 16px;
}

.pagination-link.pagination-current {
  opacity: .6;
}

.pagination-prev,
.pagination-next {
  padding: 25px;
}

.pagination-disabled {
  color: #444;
  opacity: .3;
}
