/* Raleway */
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

/* Rubik */
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #fff;
    font-weight: 400;
    color: #444;
}

.title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000;
}

.button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

/* header */

.page-header {
    color: #000;
    background-color: #FFE17F;
}

.level-2 .navigation-link {
    font-family: "Raleway", sans-serif;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 800;
}

.navigation-link {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

/* device */

.number-device {
    font-weight: 700;
    font-size: 180px;
    color: #fff;
}

.about-device h3 {
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.device-detail-item {
    font-size: 16px;
}

.device-detail-item span {
    font-size: 36px;
    color: #000;
}

/* device-pic */

.device-pic-item {
    background-color: #FFE17F;
}

.device-pic-title {
    font-weight: 800;
    line-height: 24px;
}

/* additional-services */

.additional-services {
    background-color: #F0F0F0;
}

.service-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.button-choose {
    color: #FFE17F;
    background-color: #000;
}

/* delivery */

.plash-block {
    background-color: #F0F0F0;
}

.plash-block p {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

/* index-columns */

.contacts-subtitle {
    font-size: 24px;
    font-weight: 700;;
}

.transport-companies li {
    font-weight: 700;
    line-height: 20px;
    color: #000;
    margin-bottom: 19px;
}

.contacts-phone {
    color: #444;
}

/* subscribe */

.subscribe {
    background-color: #F0F0F0;
}

.subscribe-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000;
}

/* footer */

.page-footer {
    background-color: #444;
    color: #fff;
}

.footer-contacts-address-text {
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
}

.footer-links-item {
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-weight: 800;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-phone {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

/* catalog */

.inner-header-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: #000;
    font-size: 50px;
    line-height: 50px;
}

.breadscrumb {
    color: #000;
}

.breadcrumbs-link {
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
}

.catalog-filter h4 {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    text-transform: uppercase;
}

.catalog-filter-title {
    font-weight: 700;
    line-height: 20px;
    color: #000;
}

.control {
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.product-card-link {
    font-weight: 700;
    line-height: 20px;
    color:#000;
    text-decoration: none;
}

.product-card-price {
    font-weight: 400;
    line-height: 21;
    text-align: right;
    color: #444;
}

.button.product-card-more {
    border: 3px solid #E5E5E5;
    background-color: #fff;
}

.pagination {
    background-color: #EBEBEB;
}

.pagination-prev, .pagination-next {
    font-family: "Raleway", sans-serif;
    line-height: 21px;
    text-transform: uppercase;
    color: #444;
    text-decoration: none;
}

.pagination-link {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #444;
    text-decoration: none;
}
